@model IEnumerable<SocialNetwork.ViewModels.MainMessageViewModel>

@{
    ViewBag.Title = "Messages";

    
}

<h2>Messages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noOfMessages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){ 
    if (item.noOfTotalMessages > 0) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noOfMessages)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { senderUsername=item.Username })
             
        </td>
    </tr>
    }
}

</table>

<h2>Read: @Html.DisplayFor(m => m.First().noOfReadMessages);</h2>
<h2>Deleted: @Html.DisplayFor(m => m.First().noOfDeletedMessages);</h2>
<h2>Total: @Html.DisplayFor(m => m.First().noOfTotalMessages);</h2>

<!--- 
<h2>Read Messages:@{try{
                      Html.DisplayFor(m => m.First().noOfReadMessages);
}catch(InvalidOperationException){
    @: 0
}}</h2>

<h2>
    Deleted Messages:@{try
    {
        Html.DisplayFor(m => m.First().noOfDeletedMessages);
    }
    catch (InvalidOperationException)
    {
        @: 0
    }}
</h2> 
<h2>
    Total Messages:@{try
    {
        Html.DisplayFor(m => m.First().noOfTotalMessages);
    }
    catch (InvalidOperationException)
    {
       @: 0
    }}
</h2> 
    --->